.card_wrapper{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-asideMenu-color);
    padding: 15px;
    margin: 20px;
    border-radius: 5px;

    .patient_info{
        display: flex;
        flex-direction: column;
        color: var(--white-font-color);
    }

    .patient_image{
        margin: 20px;
        height: 100p;
        width: 50px;
        object-fit: cover;
    }
}

