.card_wrapper {
  display: flex;
  text-align: left;
  align-items: center;
  background-color: var(--module-card-background);
  width: 40%;
  padding: 0px 10px;
  margin: 20px;
  border: none;
  border-radius: 10px;

  .patient_info {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--black-color);
    padding: 0 15px;
    max-width: 80%;
    > p {
      max-width: 90%;
    }
  }

  .profileImage {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    .patient_image,
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}
