.pageWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: nowrap;
}

.Content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.mainWrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
}
