:root {
  --white-font-color: #ffffff;
  --grey-asideMenu-color: #636469;
  --blue-color: #206091;
  --violet-color: #b37dff;
  --orange-color: #faa954;
  --red-color: #fe7984;
  --green-color: #6da291;
}
