.patients_wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg, rgba(62, 63, 65, 1) 0%, rgba(83, 84, 86, 1) 40%, rgba(128, 129, 130, 1) 70%, rgba(215, 216, 216, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patients_title{
    margin: 20px; 
    color: var(--white-font-color);
}