
.backdrop{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba( 0, 0, 0 , 0.4);
    
    .modal_wrapper{
        min-width:60%;
        max-height: 95%;
        max-width: 90%;
        background-color: var(--grey-asideMenu-color);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-top: 40px;
        >h2{
            margin-bottom: 5%;
            border-bottom: 5px solid var(--green-color);
        }
    }
}

  .new_user_logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 10%;
    margin-bottom: 20px;
      >svg {
          width: 50%;
          path,
          polygon {
              fill: var(--green-color);
            }
        transition: scale 500ms ease-in-out;
    }
}

.image_container{
    border-radius: 50%;
}


.new_user_form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.user_photo{
    height: 20%;
    width: 40%;
    z-index: 1;
    border-radius: 50%;
    object-fit: cover;
}

.file_input{
    position: absolute;
    height: 20%;
    width: 40%;
    opacity: 0;
    z-index: 1;
}


.new_user_input_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5%;
    text-align: center;
    >p{
        color:var(--red-color)
    }
}

.new_user_input {
    border: none;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    background: none;
    transition: border-color 250ms ease-in-out;
    width: 100%;
    &::placeholder {
        text-transform: uppercase;
        color: #ffffff;
    }

    &:focus {
        outline: none;
        border-color: var(--green-color);
    }
}

h2{
    text-transform: uppercase;
    color: #ffffff;
}

fieldset {
    justify-self: center;
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    >.new_user_input_wrapper>.date_selector{
        width: 80%;
        border: none;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid #ffffff;
        color: #ffffff;
        text-align: left;
    }
}

.new_user_btn{
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    text-align: center;
    min-height: 37px;
    margin: 20px;
    background-color: transparent;
    transition: background-color 250ms ease-in-out;
    width: 40%;
    &:hover {
        background-color: var(--green-color);
    }
}

.new_user_btn_register{
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--green-color);
    color: #ffffff;
    transition: color 250ms ease-in-out background-color 250ms ease-in-out transform 250ms ease-in-out;
    &:hover {
        color: #ffffff;
        background-color: unset;
    }

    &:visited {
        color: #8ad2d5;
    }
}


section {
    display: flex;
    width: 100%;
    margin-bottom: 5%;
    flex-direction: row;
    >.new_user_btn{
        width: 40%;
    }
}